body {
  background-color: #f2efed;
  margin: 0;
}
#header {
  height: 120px;
  width: 100%;
  border-bottom: 3px solid #d0d0d0;
}
#logo {
  float: left;
  height: 100%;
  width: 300px;
}

.imagelogo {
  position: relative;
  height: 100%;
  float: left;
}

#login {
  width: 100px;
  position: relative;
  float: right;
  background-colour: black;
}

.profile {
  margin-top: 20px;
  max-height: 80px;
}

#menu{
  float: left;
  width: 225px;
  height: calc(100vh - 123px);
  border-right: 3px solid #d0d0d0;
}
#quiz{
  float: right;
  width: calc(100% - 225px - 3px); /* Take away the menu and the border */
}
#home{
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d0d0d0;
  font-size: 20px;
  color: #67636f;
}
.lefticon{
  margin-left: 30px;
  margin-right: 10px;
}
.righticon{
  margin-left: 70px;
  font-size: 30px;
  -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  outline: 0;
}
#topics{
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d0d0d0;
  font-size: 20px;
  color: #67636f;
}

#topics-sub { 
  visibility: hidden; /* We want it hidden */
  max-height: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: visibility 0s, max-height 0.5s ease-in;
  transition-delay: 230ms, 0s;
}

#topics-sub li {
  list-style-type: none; /*Removing the dot points*/
}

#topics-sub a {
  color: #67636f;
  text-decoration: none;
}

.fancy-btn {
    border-radius: 30px;
    background-color: #0284ff;
    color: #fff;
	border: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 75px;
    margin: 0 auto;
    transition: color .2s ease, background-color .2s ease;
}

.fancy-btn:hover {
    cursor:pointer;
}

.quiz-introduction {
    position: fixed;
	width: calc(100% - 225px - 3px);
	height: 100%;
    z-index: 1;	
    justify-content: center;
    background-color: #eee;
    overflow: hidden;
}

.quiz-introduction-holder{
	width: 100%;
	text-align: center;
}

.quiz-introduction-text-box{
    max-width: 95%;
    width: max-content;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
	margin-bottom: 30px;
    padding: 10px;
    height: max-content;
	box-shadow: 3px 3px #dedede;
	display: inline-table;
}

.horizontal-line{
	width: 100%;
	height: 3px;
	background-color: #d0d0d0;
}




.rounded-box{
	content: max-width;
	display: inline-block;
	background-color: #0284ff;
	padding: 5px 20px;
	border-radius: 10px;
}

.quiz-introduction h1 {
    color: white;
	margin: 0;
}

.quiz-introduction  p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 20px;
}

.quiz-introduction  .fancy-btn{
    margin: 20px auto;
}