body {
  background-color: #f2efed;
  margin: 0;
}
#header {
  height: 120px;
  width: 100%;
  border-bottom: 3px solid #d0d0d0;
}
#logo {
  float: left;
  height: 100%;
  width: 300px;
}

.imagelogo {
  position: relative;
  height: 100%;
  float: left;
}

#login {
  width: 100px;
  position: relative;
  float: right;
  background-colour: black;
}

.profile {
  margin-top: 20px;
  max-height: 80px;
}

#menu{
  float: left;
  width: 225px;
  height: calc(100vh - 123px);
  border-right: 3px solid #d0d0d0;
}
#react-container{
  float: right;
  width: calc(100% - 225px - 3px); /* Take away the menu and the border */
}
#home{
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d0d0d0;
  font-size: 20px;
  color: #67636f;
}
.lefticon{
  margin-left: 30px;
  margin-right: 10px;
}
.righticon{
  margin-left: 70px;
  font-size: 30px;
  -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  outline: 0;
}
#topics{
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d0d0d0;
  font-size: 20px;
  color: #67636f;
}

#topics-sub { 
  visibility: hidden; /* We want it hidden */
  max-height: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: visibility 0s, max-height 0.5s ease-in;
  transition-delay: 230ms, 0s;
}

#topics-sub li {
  list-style-type: none; /*Removing the dot points*/
}

#topics-sub a {
  color: #67636f;
  text-decoration: none;
}
